In [1]:
import pandas as pd

In [2]:
pd.DataFrame({'Yes':[1,0],'No':[9,10]},index =['Student A','Student B'])

           Yes  No
Student A    1   9
Student B    0  10

In [3]:
pd.DataFrame(['Yes','No'],{(1,0),(9,10)})

        0
9 10  Yes
1 0    No

In [4]:
pd.DataFrame({'Yes':[1,0],'No':[9,10]})

   Yes  No
0    1   9
1    0  10

In [5]:
pd.Series(['Potato','Tomato','Cabbage','Onion','Garlic'],name='Vegetables')

0     Potato
1     Tomato
2    Cabbage
3      Onion
4     Garlic
Name: Vegetables, dtype: object

In [6]:
pd.Series(['Potato','Tomato','Cabbage','Onion','Garlic'],name='Vegetables')

0     Potato
1     Tomato
2    Cabbage
3      Onion
4     Garlic
Name: Vegetables, dtype: object

In [7]:
mobile = pd.read_csv("train.csv")

In [8]:
mobile

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0.5,1,0,1,2,0.8,106,6,...,1222,1890,668,13,4,19,1,1,0,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,...,915,1965,2032,11,10,16,1,1,1,2
1997,1911,0,0.9,1,1,1,36,0.7,108,8,...,868,1632,3057,9,1,5,1,1,0,3
1998,1512,0,0.9,0,4,1,46,0.1,145,5,...,336,670,869,18,10,19,1,1,1,0
1999,510,1,2.0,1,5,1,45,0.9,168,6,...,483,754,3919,19,4,2,1,1,1,3

In [9]:
mobile = pd.read_csv("train.csv",index_col=0)

In [10]:
mobile

,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
battery_power,,,,,,,,,,,,,,,,,,,,
842,0,2.2,0,1,0,7,0.6,188,2,2,20,756,2549,9,7,19,0,0,1,1
1021,1,0.5,1,0,1,53,0.7,136,3,6,905,1988,2631,17,3,7,1,1,0,2
563,1,0.5,1,2,1,41,0.9,145,5,6,1263,1716,2603,11,2,9,1,1,0,2
615,1,2.5,0,0,0,10,0.8,131,6,9,1216,1786,2769,16,8,11,1,0,0,2
1821,1,1.2,0,13,1,44,0.6,141,2,14,1208,1212,1411,8,2,15,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,1,0.5,1,0,1,2,0.8,106,6,14,1222,1890,668,13,4,19,1,1,0,0
1965,1,2.6,1,0,0,39,0.2,187,4,3,915,1965,2032,11,10,16,1,1,1,2
1911,0,0.9,1,1,1,36,0.7,108,8,3,868,1632,3057,9,1,5,1,1,0,3
1512,0,0.9,0,4,1,46,0.1,145,5,5,336,670,869,18,10,19,1,1,1,0
510,1,2.0,1,5,1,45,0.9,168,6,16,483,754,3919,19,4,2,1,1,1,3

In [11]:
mobile.columns

Index(['blue', 'clock_speed', 'dual_sim', 'fc', 'four_g', 'int_memory',
       'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height', 'px_width', 'ram',
       'sc_h', 'sc_w', 'talk_time', 'three_g', 'touch_screen', 'wifi',
       'price_range'],
      dtype='object')

In [12]:
mobile.describe

<bound method NDFrame.describe of                blue  clock_speed  dual_sim  fc  four_g  int_memory  m_dep  \
battery_power
842               0          2.2         0   1       0           7    0.6
1021              1          0.5         1   0       1          53    0.7
563               1          0.5         1   2       1          41    0.9
615               1          2.5         0   0       0          10    0.8
1821              1          1.2         0  13       1          44    0.6
...             ...          ...       ...  ..     ...         ...    ...
794               1          0.5         1   0       1           2    0.8
1965              1          2.6         1   0       0          39    0.2
1911              0          0.9         1   1       1          36    0.7
1512              0          0.9         0   4       1          46    0.1
510               1          2.0         1   5       1          45    0.9

               mobile_wt  n_cores  pc  px_height  px_width   ram  sc_h  sc_w  \
battery_power
842                  188        2   2         20       756  2549     9     7
1021                 136        3   6        905      1988  2631    17     3
563                  145        5   6       1263      1716  2603    11     2
615                  131        6   9       1216      1786  2769    16     8
1821                 141        2  14       1208      1212  1411     8     2
...                  ...      ...  ..        ...       ...   ...   ...   ...
794                  106        6  14       1222      1890   668    13     4
1965                 187        4   3        915      1965  2032    11    10
1911                 108        8   3        868      1632  3057     9     1
1512                 145        5   5        336       670   869    18    10
510                  168        6  16        483       754  3919    19     4

               talk_time  three_g  touch_screen  wifi  price_range
battery_power
842                   19        0             0     1            1
1021                   7        1             1     0            2
563                    9        1             1     0            2
615                   11        1             0     0            2
1821                  15        1             1     0            1
...                  ...      ...           ...   ...          ...
794                   19        1             1     0            0
1965                  16        1             1     1            2
1911                   5        1             1     0            3
1512                  19        1             1     1            0
510                    2        1             1     1            3

[2000 rows x 20 columns]>

In [13]:
mobile.shape

(2000, 20)

In [14]:
mobile.head(10)

,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
battery_power,,,,,,,,,,,,,,,,,,,,
842,0,2.2,0,1,0,7,0.6,188,2,2,20,756,2549,9,7,19,0,0,1,1
1021,1,0.5,1,0,1,53,0.7,136,3,6,905,1988,2631,17,3,7,1,1,0,2
563,1,0.5,1,2,1,41,0.9,145,5,6,1263,1716,2603,11,2,9,1,1,0,2
615,1,2.5,0,0,0,10,0.8,131,6,9,1216,1786,2769,16,8,11,1,0,0,2
1821,1,1.2,0,13,1,44,0.6,141,2,14,1208,1212,1411,8,2,15,1,1,0,1
1859,0,0.5,1,3,0,22,0.7,164,1,7,1004,1654,1067,17,1,10,1,0,0,1
1821,0,1.7,0,4,1,10,0.8,139,8,10,381,1018,3220,13,8,18,1,0,1,3
1954,0,0.5,1,0,0,24,0.8,187,4,0,512,1149,700,16,3,5,1,1,1,0
1445,1,0.5,0,0,0,53,0.7,174,7,14,386,836,1099,17,1,20,1,0,0,0
509,1,0.6,1,2,1,9,0.1,93,5,15,1137,1224,513,19,10,12,1,0,0,0

In [15]:
mobile['clock_speed']

battery_power
842     2.2
1021    0.5
563     0.5
615     2.5
1821    1.2
       ...
794     0.5
1965    2.6
1911    0.9
1512    0.9
510     2.0
Name: clock_speed, Length: 2000, dtype: float64

In [16]:
mobile.iloc[0]

blue               0.0
clock_speed        2.2
dual_sim           0.0
fc                 1.0
four_g             0.0
int_memory         7.0
m_dep              0.6
mobile_wt        188.0
n_cores            2.0
pc                 2.0
px_height         20.0
px_width         756.0
ram             2549.0
sc_h               9.0
sc_w               7.0
talk_time         19.0
three_g            0.0
touch_screen       0.0
wifi               1.0
price_range        1.0
Name: 842, dtype: float64

In [17]:
mobile.iloc[:0]

Empty DataFrame
Columns: [blue, clock_speed, dual_sim, fc, four_g, int_memory, m_dep, mobile_wt, n_cores, pc, px_height, px_width, ram, sc_h, sc_w, talk_time, three_g, touch_screen, wifi, price_range]
Index: []

In [18]:
mobile.iloc[:3,0]

battery_power
842     0
1021    1
563     1
Name: blue, dtype: int64

In [19]:
mobile.iloc[1:3]

,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
battery_power,,,,,,,,,,,,,,,,,,,,
1021,1,0.5,1,0,1,53,0.7,136,3,6,905,1988,2631,17,3,7,1,1,0,2
563,1,0.5,1,2,1,41,0.9,145,5,6,1263,1716,2603,11,2,9,1,1,0,2

In [20]:
mobile.iloc[1:3,0]

battery_power
1021    1
563     1
Name: blue, dtype: int64

In [21]:
mobile.iloc[5:]

,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
battery_power,,,,,,,,,,,,,,,,,,,,
1859,0,0.5,1,3,0,22,0.7,164,1,7,1004,1654,1067,17,1,10,1,0,0,1
1821,0,1.7,0,4,1,10,0.8,139,8,10,381,1018,3220,13,8,18,1,0,1,3
1954,0,0.5,1,0,0,24,0.8,187,4,0,512,1149,700,16,3,5,1,1,1,0
1445,1,0.5,0,0,0,53,0.7,174,7,14,386,836,1099,17,1,20,1,0,0,0
509,1,0.6,1,2,1,9,0.1,93,5,15,1137,1224,513,19,10,12,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,1,0.5,1,0,1,2,0.8,106,6,14,1222,1890,668,13,4,19,1,1,0,0
1965,1,2.6,1,0,0,39,0.2,187,4,3,915,1965,2032,11,10,16,1,1,1,2
1911,0,0.9,1,1,1,36,0.7,108,8,3,868,1632,3057,9,1,5,1,1,0,3
1512,0,0.9,0,4,1,46,0.1,145,5,5,336,670,869,18,10,19,1,1,1,0
510,1,2.0,1,5,1,45,0.9,168,6,16,483,754,3919,19,4,2,1,1,1,3

In [22]:
mobile.iloc[-5:]

,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
battery_power,,,,,,,,,,,,,,,,,,,,
794,1,0.5,1,0,1,2,0.8,106,6,14,1222,1890,668,13,4,19,1,1,0,0
1965,1,2.6,1,0,0,39,0.2,187,4,3,915,1965,2032,11,10,16,1,1,1,2
1911,0,0.9,1,1,1,36,0.7,108,8,3,868,1632,3057,9,1,5,1,1,0,3
1512,0,0.9,0,4,1,46,0.1,145,5,5,336,670,869,18,10,19,1,1,1,0
510,1,2.0,1,5,1,45,0.9,168,6,16,483,754,3919,19,4,2,1,1,1,3

In [23]:
mobile.columns

Index(['blue', 'clock_speed', 'dual_sim', 'fc', 'four_g', 'int_memory',
       'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height', 'px_width', 'ram',
       'sc_h', 'sc_w', 'talk_time', 'three_g', 'touch_screen', 'wifi',
       'price_range'],
      dtype='object')

In [24]:
mobile.loc[1965]

,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
battery_power,,,,,,,,,,,,,,,,,,,,
1965,0,0.5,0,6,1,4,1.0,84,7,9,977,1660,3535,17,0,16,1,1,1,3
1965,1,0.5,0,4,1,29,0.5,149,5,13,584,676,2973,11,1,20,1,1,1,3
1965,1,2.6,1,0,0,39,0.2,187,4,3,915,1965,2032,11,10,16,1,1,1,2

In [25]:
mobile.loc[[1965,794]]

,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
battery_power,,,,,,,,,,,,,,,,,,,,
1965,0,0.5,0,6,1,4,1.0,84,7,9,977,1660,3535,17,0,16,1,1,1,3
1965,1,0.5,0,4,1,29,0.5,149,5,13,584,676,2973,11,1,20,1,1,1,3
1965,1,2.6,1,0,0,39,0.2,187,4,3,915,1965,2032,11,10,16,1,1,1,2
794,0,2.5,1,15,0,14,0.6,197,3,19,312,1376,2171,19,8,18,0,0,1,1
794,1,0.5,1,0,1,2,0.8,106,6,14,1222,1890,668,13,4,19,1,1,0,0

In [26]:
mobile.loc[1859:509,'blue']

battery_power
1859    0
1821    0
1954    0
1445    1
509     1
Name: blue, dtype: int64

In [27]:
mobile.loc[:,'blue']

battery_power
842     0
1021    1
563     1
615     1
1821    1
       ..
794     1
1965    1
1911    0
1512    0
510     1
Name: blue, Length: 2000, dtype: int64

In [28]:
mobile.value_counts('blue')

blue
0    1010
1     990
dtype: int64

In [29]:
mobile.loc[mobile.blue==0]

,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
battery_power,,,,,,,,,,,,,,,,,,,,
842,0,2.2,0,1,0,7,0.6,188,2,2,20,756,2549,9,7,19,0,0,1,1
1859,0,0.5,1,3,0,22,0.7,164,1,7,1004,1654,1067,17,1,10,1,0,0,1
1821,0,1.7,0,4,1,10,0.8,139,8,10,381,1018,3220,13,8,18,1,0,1,3
1954,0,0.5,1,0,0,24,0.8,187,4,0,512,1149,700,16,3,5,1,1,1,0
1815,0,2.8,0,2,0,33,0.6,159,4,17,607,748,1482,18,0,2,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
586,0,2.8,0,2,0,15,0.2,83,3,11,241,854,2592,12,8,3,0,0,0,1
1882,0,2.0,0,11,1,44,0.8,113,8,19,4,743,3579,19,8,20,1,1,0,3
858,0,2.2,0,1,0,50,0.1,84,1,2,528,1416,3978,17,16,3,1,1,0,3
1911,0,0.9,1,1,1,36,0.7,108,8,3,868,1632,3057,9,1,5,1,1,0,3
1512,0,0.9,0,4,1,46,0.1,145,5,5,336,670,869,18,10,19,1,1,1,0

In [30]:
mobile.loc[mobile.fc >20]

Empty DataFrame
Columns: [blue, clock_speed, dual_sim, fc, four_g, int_memory, m_dep, mobile_wt, n_cores, pc, px_height, px_width, ram, sc_h, sc_w, talk_time, three_g, touch_screen, wifi, price_range]
Index: []

In [31]:
mobile.loc[mobile.int_memory.isin([50,36,46])]

,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
battery_power,,,,,,,,,,,,,,,,,,,,
775,0,1.0,0,3,0,46,0.7,159,2,16,862,1864,568,17,15,11,1,1,1,0
560,0,0.5,1,15,0,50,0.3,159,2,20,1448,1613,2150,18,12,11,1,1,0,2
1936,0,2.1,1,10,1,46,0.6,104,3,20,667,1036,2552,14,7,13,1,0,0,2
1156,1,1.2,1,0,1,50,0.8,159,2,0,322,547,470,7,0,15,1,1,0,0
1358,1,0.5,0,11,1,36,0.3,155,4,14,1565,1858,3068,9,4,4,1,1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1191,0,0.8,0,6,1,46,0.8,89,6,9,42,807,824,19,18,7,1,0,0,0
1617,1,2.4,0,8,1,36,0.8,85,1,9,743,1426,296,5,3,7,1,0,0,0
858,0,2.2,0,1,0,50,0.1,84,1,2,528,1416,3978,17,16,3,1,1,0,3
1911,0,0.9,1,1,1,36,0.7,108,8,3,868,1632,3057,9,1,5,1,1,0,3
1512,0,0.9,0,4,1,46,0.1,145,5,5,336,670,869,18,10,19,1,1,1,0

In [32]:
mobile['index_back'] = range(len(mobile),0,-1)
mobile['index_back']

battery_power
842     2000
1021    1999
563     1998
615     1997
1821    1996
        ...
794        5
1965       4
1911       3
1512       2
510        1
Name: index_back, Length: 2000, dtype: int32

In [33]:
mobile.loc[lambda mobile: mobile.blue==0]

,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,...,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range,index_back
battery_power,,,,,,,,,,,,,,,,,,,,,
842,0,2.2,0,1,0,7,0.6,188,2,2,...,756,2549,9,7,19,0,0,1,1,2000
1859,0,0.5,1,3,0,22,0.7,164,1,7,...,1654,1067,17,1,10,1,0,0,1,1995
1821,0,1.7,0,4,1,10,0.8,139,8,10,...,1018,3220,13,8,18,1,0,1,3,1994
1954,0,0.5,1,0,0,24,0.8,187,4,0,...,1149,700,16,3,5,1,1,1,0,1993
1815,0,2.8,0,2,0,33,0.6,159,4,17,...,748,1482,18,0,2,1,0,0,1,1988
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
586,0,2.8,0,2,0,15,0.2,83,3,11,...,854,2592,12,8,3,0,0,0,1,11
1882,0,2.0,0,11,1,44,0.8,113,8,19,...,743,3579,19,8,20,1,1,0,3,9
858,0,2.2,0,1,0,50,0.1,84,1,2,...,1416,3978,17,16,3,1,1,0,3,6
1911,0,0.9,1,1,1,36,0.7,108,8,3,...,1632,3057,9,1,5,1,1,0,3,3
1512,0,0.9,0,4,1,46,0.1,145,5,5,...,670,869,18,10,19,1,1,1,0,2

In [34]:
mobile.blue == 1

battery_power
842     False
1021     True
563      True
615      True
1821     True
        ...
794      True
1965     True
1911    False
1512    False
510      True
Name: blue, Length: 2000, dtype: bool

In [35]:
mobile.loc[mobile.blue == 1]

,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,...,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range,index_back
battery_power,,,,,,,,,,,,,,,,,,,,,
1021,1,0.5,1,0,1,53,0.7,136,3,6,...,1988,2631,17,3,7,1,1,0,2,1999
563,1,0.5,1,2,1,41,0.9,145,5,6,...,1716,2603,11,2,9,1,1,0,2,1998
615,1,2.5,0,0,0,10,0.8,131,6,9,...,1786,2769,16,8,11,1,0,0,2,1997
1821,1,1.2,0,13,1,44,0.6,141,2,14,...,1212,1411,8,2,15,1,1,0,1,1996
1445,1,0.5,0,0,0,53,0.7,174,7,14,...,836,1099,17,1,20,1,0,0,0,1992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
674,1,2.9,1,1,0,21,0.2,198,3,4,...,1809,1180,6,3,4,1,1,1,0,8
1467,1,0.5,0,0,0,18,0.6,122,5,0,...,1099,3962,15,11,5,1,1,1,3,7
794,1,0.5,1,0,1,2,0.8,106,6,14,...,1890,668,13,4,19,1,1,0,0,5
1965,1,2.6,1,0,0,39,0.2,187,4,3,...,1965,2032,11,10,16,1,1,1,2,4
510,1,2.0,1,5,1,45,0.9,168,6,16,...,754,3919,19,4,2,1,1,1,3,1

In [36]:
mobile.describe()

,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,...,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range,index_back
count,2000.0000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,...,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,0.4950,1.522250,0.509500,4.309500,0.521500,32.046500,0.501750,140.249000,4.520500,9.916500,...,1251.515500,2124.213000,12.306500,5.767000,11.011000,0.761500,0.503000,0.507000,1.500000,1000.500000
std,0.5001,0.816004,0.500035,4.341444,0.499662,18.145715,0.288416,35.399655,2.287837,6.064315,...,432.199447,1084.732044,4.213245,4.356398,5.463955,0.426273,0.500116,0.500076,1.118314,577.494589
min,0.0000,0.500000,0.000000,0.000000,0.000000,2.000000,0.100000,80.000000,1.000000,0.000000,...,500.000000,256.000000,5.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,0.0000,0.700000,0.000000,1.000000,0.000000,16.000000,0.200000,109.000000,3.000000,5.000000,...,874.750000,1207.500000,9.000000,2.000000,6.000000,1.000000,0.000000,0.000000,0.750000,500.750000
50%,0.0000,1.500000,1.000000,3.000000,1.000000,32.000000,0.500000,141.000000,4.000000,10.000000,...,1247.000000,2146.500000,12.000000,5.000000,11.000000,1.000000,1.000000,1.000000,1.500000,1000.500000
75%,1.0000,2.200000,1.000000,7.000000,1.000000,48.000000,0.800000,170.000000,7.000000,15.000000,...,1633.000000,3064.500000,16.000000,9.000000,16.000000,1.000000,1.000000,1.000000,2.250000,1500.250000
max,1.0000,3.000000,1.000000,19.000000,1.000000,64.000000,1.000000,200.000000,8.000000,20.000000,...,1998.000000,3998.000000,19.000000,18.000000,20.000000,1.000000,1.000000,1.000000,3.000000,2000.000000

In [37]:
mobile.mean()

blue               0.49500
clock_speed        1.52225
dual_sim           0.50950
fc                 4.30950
four_g             0.52150
int_memory        32.04650
m_dep              0.50175
mobile_wt        140.24900
n_cores            4.52050
pc                 9.91650
px_height        645.10800
px_width        1251.51550
ram             2124.21300
sc_h              12.30650
sc_w               5.76700
talk_time         11.01100
three_g            0.76150
touch_screen       0.50300
wifi               0.50700
price_range        1.50000
index_back      1000.50000
dtype: float64

In [38]:
mobile.idxmax()

blue            1021
clock_speed     1547
dual_sim        1021
fc              1290
four_g          1021
int_memory       596
m_dep            803
mobile_wt        851
n_cores         1821
pc              1602
px_height       1230
px_width        1068
ram             1456
sc_h             509
sc_w            1725
talk_time       1445
three_g         1021
touch_screen    1021
wifi             842
price_range     1821
index_back       842
dtype: int64

In [39]:
mobile.idxmax(axis = 0)

blue            1021
clock_speed     1547
dual_sim        1021
fc              1290
four_g          1021
int_memory       596
m_dep            803
mobile_wt        851
n_cores         1821
pc              1602
px_height       1230
px_width        1068
ram             1456
sc_h             509
sc_w            1725
talk_time       1445
three_g         1021
touch_screen    1021
wifi             842
price_range     1821
index_back       842
dtype: int64

In [40]:
mean = mobile.sc_h.mean()

In [41]:
mean

12.3065

In [42]:
mobile.sc_h.map(lambda mobile: mobile-mean)

battery_power
842    -3.3065
1021    4.6935
563    -1.3065
615     3.6935
1821   -4.3065
         ...
794     0.6935
1965   -1.3065
1911   -3.3065
1512    5.6935
510     6.6935
Name: sc_h, Length: 2000, dtype: float64

In [43]:
mobile.head(10)

,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,...,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range,index_back
battery_power,,,,,,,,,,,,,,,,,,,,,
842,0,2.2,0,1,0,7,0.6,188,2,2,...,756,2549,9,7,19,0,0,1,1,2000
1021,1,0.5,1,0,1,53,0.7,136,3,6,...,1988,2631,17,3,7,1,1,0,2,1999
563,1,0.5,1,2,1,41,0.9,145,5,6,...,1716,2603,11,2,9,1,1,0,2,1998
615,1,2.5,0,0,0,10,0.8,131,6,9,...,1786,2769,16,8,11,1,0,0,2,1997
1821,1,1.2,0,13,1,44,0.6,141,2,14,...,1212,1411,8,2,15,1,1,0,1,1996
1859,0,0.5,1,3,0,22,0.7,164,1,7,...,1654,1067,17,1,10,1,0,0,1,1995
1821,0,1.7,0,4,1,10,0.8,139,8,10,...,1018,3220,13,8,18,1,0,1,3,1994
1954,0,0.5,1,0,0,24,0.8,187,4,0,...,1149,700,16,3,5,1,1,1,0,1993
1445,1,0.5,0,0,0,53,0.7,174,7,14,...,836,1099,17,1,20,1,0,0,0,1992
509,1,0.6,1,2,1,9,0.1,93,5,15,...,1224,513,19,10,12,1,0,0,0,1991

In [44]:
mobile.groupby('fc')

In [45]:
mobile

,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,...,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range,index_back
battery_power,,,,,,,,,,,,,,,,,,,,,
842,0,2.2,0,1,0,7,0.6,188,2,2,...,756,2549,9,7,19,0,0,1,1,2000
1021,1,0.5,1,0,1,53,0.7,136,3,6,...,1988,2631,17,3,7,1,1,0,2,1999
563,1,0.5,1,2,1,41,0.9,145,5,6,...,1716,2603,11,2,9,1,1,0,2,1998
615,1,2.5,0,0,0,10,0.8,131,6,9,...,1786,2769,16,8,11,1,0,0,2,1997
1821,1,1.2,0,13,1,44,0.6,141,2,14,...,1212,1411,8,2,15,1,1,0,1,1996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,1,0.5,1,0,1,2,0.8,106,6,14,...,1890,668,13,4,19,1,1,0,0,5
1965,1,2.6,1,0,0,39,0.2,187,4,3,...,1965,2032,11,10,16,1,1,1,2,4
1911,0,0.9,1,1,1,36,0.7,108,8,3,...,1632,3057,9,1,5,1,1,0,3,3
1512,0,0.9,0,4,1,46,0.1,145,5,5,...,670,869,18,10,19,1,1,1,0,2
510,1,2.0,1,5,1,45,0.9,168,6,16,...,754,3919,19,4,2,1,1,1,3,1

In [46]:
mobile.groupby('fc').fc.count()

fc
0     474
1     245
2     189
3     170
4     133
5     139
6     112
7     100
8      77
9      78
10     62
11     51
12     45
13     40
14     20
15     23
16     24
17      6
18     11
19      1
Name: fc, dtype: int64

In [47]:
mobile.groupby('fc').fc.mean()

fc
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
Name: fc, dtype: int64

In [48]:
mobile.groupby('fc').size()

fc
0     474
1     245
2     189
3     170
4     133
5     139
6     112
7     100
8      77
9      78
10     62
11     51
12     45
13     40
14     20
15     23
16     24
17      6
18     11
19      1
dtype: int64

In [49]:
mobile.groupby('fc').sum()

,blue,clock_speed,dual_sim,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range,index_back
fc,,,,,,,,,,,,,,,,,,,,
0,240,728.4,251,262,15259,228.4,65609,2179,2222,314801,597863,982860,5823,2677,5269,372,248,234,690,494313
1,116,373.4,131,121,8293,131.5,34679,1133,1822,158461,305508,522978,3010,1416,2543,186,129,135,362,227519
2,88,277.2,105,96,5877,87.7,26043,837,1629,119346,234636,406454,2376,1101,2122,141,89,98,283,185507
3,87,262.6,85,88,5722,86.8,23913,755,1666,107647,208806,370053,2169,1038,1913,131,68,80,265,165339
4,67,203.7,67,67,4258,72.4,18790,583,1398,87468,170929,290713,1590,749,1477,94,70,67,206,131310
5,66,215.8,64,86,4297,72.6,19669,614,1582,85407,175228,285336,1686,786,1504,105,78,70,205,135168
6,60,166.2,53,59,3429,60.2,15725,504,1318,74470,141949,218328,1449,731,1296,83,59,57,155,115725
7,53,157.7,48,43,3205,45.8,14260,439,1277,64309,125889,221179,1116,559,1151,72,46,50,157,99009
8,29,116.5,39,33,2349,40.9,11174,337,1067,52643,95615,178542,973,490,874,56,41,36,130,77560
9,42,107.8,34,42,2556,37.0,11037,376,1159,45270,97809,172142,968,433,857,61,40,36,117,68811
10,31,99.3,28,35,1981,29.8,8515,301,935,37419,71027,130048,726,298,670,51,35,27,92,65976
11,26,77.7,28,18,1598,26.5,6840,232,799,33715,62929,104145,653,325,535,35,24,23,76,53959
12,17,61.7,18,26,1353,22.3,6416,211,736,28321,57457,94064,513,265,437,36,20,25,67,47912
13,26,62.2,22,25,1402,22.5,5773,176,677,23640,45331,81858,502,246,467,34,22,21,55,42805
14,12,27.3,11,8,568,10.3,2817,96,350,11229,27955,45590,246,100,225,12,9,10,32,16973
15,11,36.8,13,9,718,10.2,3240,84,411,14658,30513,61910,322,128,211,19,7,14,47,27251
16,10,39.7,12,15,697,10.6,3248,119,436,14649,28813,46164,300,115,267,20,9,19,32,28503
17,4,12.0,3,2,231,2.5,889,18,114,6673,9796,15206,47,17,79,4,5,2,14,8797
18,4,17.1,6,7,265,5.2,1751,43,215,9685,14236,19977,128,58,117,10,7,10,15,8268
19,1,1.4,1,1,35,0.3,110,4,20,405,742,879,16,2,8,1,0,0,0,295

In [50]:
mobile.groupby(['sc_h']).sc_h.agg([len,max,min])

      len  max  min
sc_h
5      97    5    5
6     114    6    6
7     151    7    7
8     117    8    8
9     124    9    9
10    125   10   10
11    126   11   11
12    157   12   12
13    131   13   13
14    143   14   14
15    135   15   15
16    143   16   16
17    193   17   17
18    120   18   18
19    124   19   19

In [51]:
mobile.sort_values(by='int_memory')

,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,...,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range,index_back
battery_power,,,,,,,,,,,,,,,,,,,,,
1790,0,2.5,1,9,0,2,0.1,184,1,14,...,792,1366,7,0,20,1,1,1,1,1869
763,0,1.7,1,8,1,2,0.5,92,8,14,...,1186,1050,6,4,8,1,1,0,0,1635
1768,1,2.0,0,0,1,2,0.8,88,7,2,...,1814,3256,9,6,5,1,1,0,3,361
1082,0,2.3,1,11,0,2,1.0,101,4,20,...,724,2177,12,2,17,0,1,0,1,114
1692,0,2.1,0,4,1,2,0.9,106,1,17,...,1904,3779,9,3,7,1,1,1,3,173
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1097,0,2.1,1,6,0,64,0.2,161,3,8,...,1914,1725,14,5,9,1,0,1,1,1681
1876,0,1.3,1,9,1,64,1.0,98,3,19,...,1211,3132,17,0,2,1,1,1,3,219
932,0,1.3,0,1,0,64,0.7,154,7,2,...,1224,3817,8,7,9,1,1,1,3,1546
1991,1,2.7,0,5,1,64,0.9,145,2,13,...,1325,1733,5,3,8,1,1,0,2,1554
757,1,0.9,1,4,0,64,0.5,157,7,5,...,819,3433,6,5,10,1,1,0,2,51

In [52]:
mobile.sort_index()

,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,...,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range,index_back
battery_power,,,,,,,,,,,,,,,,,,,,,
501,0,2.3,0,12,1,54,0.3,131,4,19,...,1089,2346,13,12,2,1,0,1,1,1375
501,1,0.5,1,14,0,22,0.5,174,6,20,...,1636,3077,17,3,17,0,0,0,2,885
502,0,0.8,0,7,0,52,1.0,82,6,8,...,1159,2666,5,4,20,1,1,0,2,382
502,0,1.5,1,7,0,37,0.2,199,2,12,...,1810,1649,6,1,14,0,1,0,1,973
503,0,2.5,0,3,0,57,0.6,185,6,11,...,1291,305,11,8,16,0,0,1,0,1264
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1,0.5,0,6,0,26,0.2,129,1,15,...,1104,1322,15,11,7,0,1,1,1,1673
1996,1,2.8,1,0,1,7,0.1,138,5,4,...,1083,1258,17,14,16,1,0,0,1,318
1996,0,2.5,0,5,1,51,0.4,122,4,9,...,1445,2236,8,7,12,1,0,1,2,1247
1997,1,1.8,1,1,0,40,0.5,185,4,8,...,1212,1655,7,6,15,1,0,0,2,1691
1998,1,1.2,0,8,0,31,0.6,196,8,19,...,1356,2311,17,9,18,1,1,0,2,646

In [57]:
mobile.index.dtype

dtype('int64')

In [59]:
mobile.dtypes

blue              int64
clock_speed     float64
dual_sim          int64
fc                int64
four_g            int64
int_memory        int64
m_dep           float64
mobile_wt         int64
n_cores           int64
pc                int64
px_height         int64
px_width          int64
ram               int64
sc_h              int64
sc_w              int64
talk_time         int64
three_g           int64
touch_screen      int64
wifi              int64
price_range       int64
index_back        int32
dtype: object

In [60]:
mobile.isnull()

,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,...,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range,index_back
battery_power,,,,,,,,,,,,,,,,,,,,,
842,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1021,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
563,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
615,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1821,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1965,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1911,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1512,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
510,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [62]:
mobile.value_counts()

blue  clock_speed  dual_sim  fc  four_g  int_memory  m_dep  mobile_wt  n_cores  pc  px_height  px_width  ram   sc_h  sc_w  talk_time  three_g  touch_screen  wifi  price_range  index_back
1     3.0          1         6   1       17          0.2    126        8        7   1172       1798      3348  18    16    16         1        1             0     3            1570          1
0     1.9          1         7   1       25          0.3    152        4        9   395        1853      1788  13    11    13         1        0             1     1            327           1
                             0   1       11          0.8    188        2        15  688        1591      1780  12    10    2          1        0             0     1            635           1
                                         14          0.6    115        1        7   395        1027      2439  6     3     12         1        1             1     1            590           1
                             1   0       37          0.4    154        5        4   371        541       2705  17    3     10         1        1             0     1            948           1
                                                                                                                                                                                             ..
1     0.9          1         4   1       10          0.1    153        8        20  98         977       3696  9     0     3          1        0             1     3            533           1
                             6   1       58          0.5    161        2        11  742        999       1850  9     4     8          1        0             0     1            14            1
                             10  1       62          0.3    175        5        13  1010       1565      473   11    1     20         1        1             0     0            1642          1
                             12  1       2           0.7    145        5        15  636        1259      2765  13    12    10         1        0             1     2            1514          1
0     0.5          0         0   0       3           0.1    143        6        4   600        1109      1214  9     8     15         0        1             1     1            1437          1
Length: 2000, dtype: int64

In [64]:
mobile.rename(columns={'four_g':'4G'})

,blue,clock_speed,dual_sim,fc,4G,int_memory,m_dep,mobile_wt,n_cores,pc,...,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range,index_back
battery_power,,,,,,,,,,,,,,,,,,,,,
842,0,2.2,0,1,0,7,0.6,188,2,2,...,756,2549,9,7,19,0,0,1,1,2000
1021,1,0.5,1,0,1,53,0.7,136,3,6,...,1988,2631,17,3,7,1,1,0,2,1999
563,1,0.5,1,2,1,41,0.9,145,5,6,...,1716,2603,11,2,9,1,1,0,2,1998
615,1,2.5,0,0,0,10,0.8,131,6,9,...,1786,2769,16,8,11,1,0,0,2,1997
1821,1,1.2,0,13,1,44,0.6,141,2,14,...,1212,1411,8,2,15,1,1,0,1,1996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,1,0.5,1,0,1,2,0.8,106,6,14,...,1890,668,13,4,19,1,1,0,0,5
1965,1,2.6,1,0,0,39,0.2,187,4,3,...,1965,2032,11,10,16,1,1,1,2,4
1911,0,0.9,1,1,1,36,0.7,108,8,3,...,1632,3057,9,1,5,1,1,0,3,3
1512,0,0.9,0,4,1,46,0.1,145,5,5,...,670,869,18,10,19,1,1,1,0,2
510,1,2.0,1,5,1,45,0.9,168,6,16,...,754,3919,19,4,2,1,1,1,3,1

In [71]:
mobile.rename(index={842:456,794:1234})

,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,...,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range,index_back
battery_power,,,,,,,,,,,,,,,,,,,,,
456,0,2.2,0,1,0,7,0.6,188,2,2,...,756,2549,9,7,19,0,0,1,1,2000
1021,1,0.5,1,0,1,53,0.7,136,3,6,...,1988,2631,17,3,7,1,1,0,2,1999
563,1,0.5,1,2,1,41,0.9,145,5,6,...,1716,2603,11,2,9,1,1,0,2,1998
615,1,2.5,0,0,0,10,0.8,131,6,9,...,1786,2769,16,8,11,1,0,0,2,1997
1821,1,1.2,0,13,1,44,0.6,141,2,14,...,1212,1411,8,2,15,1,1,0,1,1996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1234,1,0.5,1,0,1,2,0.8,106,6,14,...,1890,668,13,4,19,1,1,0,0,5
1965,1,2.6,1,0,0,39,0.2,187,4,3,...,1965,2032,11,10,16,1,1,1,2,4
1911,0,0.9,1,1,1,36,0.7,108,8,3,...,1632,3057,9,1,5,1,1,0,3,3
1512,0,0.9,0,4,1,46,0.1,145,5,5,...,670,869,18,10,19,1,1,1,0,2
510,1,2.0,1,5,1,45,0.9,168,6,16,...,754,3919,19,4,2,1,1,1,3,1

In [72]:
mobile

,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,...,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range,index_back
battery_power,,,,,,,,,,,,,,,,,,,,,
456,0,2.2,0,1,0,7,0.6,188,2,2,...,756,2549,9,7,19,0,0,1,1,2000
1021,1,0.5,1,0,1,53,0.7,136,3,6,...,1988,2631,17,3,7,1,1,0,2,1999
563,1,0.5,1,2,1,41,0.9,145,5,6,...,1716,2603,11,2,9,1,1,0,2,1998
615,1,2.5,0,0,0,10,0.8,131,6,9,...,1786,2769,16,8,11,1,0,0,2,1997
1821,1,1.2,0,13,1,44,0.6,141,2,14,...,1212,1411,8,2,15,1,1,0,1,1996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1234,1,0.5,1,0,1,2,0.8,106,6,14,...,1890,668,13,4,19,1,1,0,0,5
1965,1,2.6,1,0,0,39,0.2,187,4,3,...,1965,2032,11,10,16,1,1,1,2,4
1911,0,0.9,1,1,1,36,0.7,108,8,3,...,1632,3057,9,1,5,1,1,0,3,3
1512,0,0.9,0,4,1,46,0.1,145,5,5,...,670,869,18,10,19,1,1,1,0,2
510,1,2.0,1,5,1,45,0.9,168,6,16,...,754,3919,19,4,2,1,1,1,3,1

In [73]:
mobile.rename_axis("mobiles",axis='rows')

,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,...,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range,index_back
mobiles,,,,,,,,,,,,,,,,,,,,,
456,0,2.2,0,1,0,7,0.6,188,2,2,...,756,2549,9,7,19,0,0,1,1,2000
1021,1,0.5,1,0,1,53,0.7,136,3,6,...,1988,2631,17,3,7,1,1,0,2,1999
563,1,0.5,1,2,1,41,0.9,145,5,6,...,1716,2603,11,2,9,1,1,0,2,1998
615,1,2.5,0,0,0,10,0.8,131,6,9,...,1786,2769,16,8,11,1,0,0,2,1997
1821,1,1.2,0,13,1,44,0.6,141,2,14,...,1212,1411,8,2,15,1,1,0,1,1996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1234,1,0.5,1,0,1,2,0.8,106,6,14,...,1890,668,13,4,19,1,1,0,0,5
1965,1,2.6,1,0,0,39,0.2,187,4,3,...,1965,2032,11,10,16,1,1,1,2,4
1911,0,0.9,1,1,1,36,0.7,108,8,3,...,1632,3057,9,1,5,1,1,0,3,3
1512,0,0.9,0,4,1,46,0.1,145,5,5,...,670,869,18,10,19,1,1,1,0,2
510,1,2.0,1,5,1,45,0.9,168,6,16,...,754,3919,19,4,2,1,1,1,3,1

In [74]:
mobile.rename_axis("features",axis='columns')

features,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,...,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range,index_back
battery_power,,,,,,,,,,,,,,,,,,,,,
456,0,2.2,0,1,0,7,0.6,188,2,2,...,756,2549,9,7,19,0,0,1,1,2000
1021,1,0.5,1,0,1,53,0.7,136,3,6,...,1988,2631,17,3,7,1,1,0,2,1999
563,1,0.5,1,2,1,41,0.9,145,5,6,...,1716,2603,11,2,9,1,1,0,2,1998
615,1,2.5,0,0,0,10,0.8,131,6,9,...,1786,2769,16,8,11,1,0,0,2,1997
1821,1,1.2,0,13,1,44,0.6,141,2,14,...,1212,1411,8,2,15,1,1,0,1,1996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1234,1,0.5,1,0,1,2,0.8,106,6,14,...,1890,668,13,4,19,1,1,0,0,5
1965,1,2.6,1,0,0,39,0.2,187,4,3,...,1965,2032,11,10,16,1,1,1,2,4
1911,0,0.9,1,1,1,36,0.7,108,8,3,...,1632,3057,9,1,5,1,1,0,3,3
1512,0,0.9,0,4,1,46,0.1,145,5,5,...,670,869,18,10,19,1,1,1,0,2
510,1,2.0,1,5,1,45,0.9,168,6,16,...,754,3919,19,4,2,1,1,1,3,1